{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner Section -->

<section class="slider-six">
  <div class="slider-six__curv">
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
  </div>
  <!-- /.slider-six__curv -->
  <div
    class="swiper-container thm-swiper__slider"
    data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-layer" style=" background-image: url({% static "images/canada/can-home-1.jpg" %}); " >
      </div>
      <!-- /.image-layer -->
      <div class="auto-container">
        <div class="slider-six__content">
          {% comment %} <p class="slider-six__text"><span>Server Maintenance</span></p> {% endcomment %}
          <!-- /.slider-six__text -->
          <h2 class="slider-six__title">
            Your Trusted IT Business Solutions Provider
.
          </h2>
          <!-- /.slider-six__title -->
          <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
          <!-- /.thm-btn__six -->
        </div>
        <!-- /.slider-six__content -->
      </div>
    </div>
    {% comment %} <div class="swiper-slide">
      <div
        class="image-layer"
        style="
          background-image: url(images/update-01-10-2021/slider/slider-six-1-2.jpg);
        "
      ></div>
      <!-- /.image-layer -->
    </div> {% endcomment %}
  </div>
  <!-- If we need navigation buttons -->
  <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
</section>
<!-- /.slider-six -->

<section class="about-seven" id="about">
  <div class="auto-container">
    <div class="row">
      <div class="col-md-12 col-lg-6 wow fadeInLeft" data-wow-duration="1500ms">
        <div class="about-seven__images">
          <img
            src="{% static 'images/canada/can-home-2.jpg' %}"
            alt=""
          />
          {% comment %}
          <img
            src="{% static 'images/update-01-10-2021/resources/about-seven-1-2.jpg' %}"
            alt=""
          />
          {% endcomment %} {% comment %}
          <img
            src="images/update-01-10-2021/resources/about-seven-1-2.jpg"
            alt=""
          />
          {% endcomment %}
        </div>
        <!-- /.about-seven__images -->
      </div>
      <!-- /.col-md-12 col-lg-6 -->
      <div class="col-md-12 col-lg-6" style="margin-block: auto">
        <div class="about-seven__content">
          <div class="sec-title-six text-start">
            {% comment %}
            <p class="sec-title-six__text"><span>About Company</span></p>
            {% endcomment %}
            <!-- /.sec-title-six__text -->
            <h2 class="sec-title-six__title">
             
Your IT Business Solutions Partner - Zaco
            </h2>
            <!-- /.sec-title-six__title -->
          </div>
          <!-- /.sec-title-six -->
          <p class="about-seven__summery">
            At Zaco, we understand the unique challenges and opportunities that businesses face in today's rapidly evolving digital landscape. As your dedicated IT solutions company, we are committed to empowering your success through innovative technology solutions tailored to your needs.
          </p>
          <!-- /.about-seven__summery -->
          {% comment %}
          <h3 class="about-seven__title">
            Linoor is the largest digital marketing agency.
          </h3>
          {% endcomment %}
          <!-- /.about-seven__title -->
        </div>
        <!-- /.about-seven__content -->
      </div>
      <!-- /.col-md-12 col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.auto-container -->
</section>
<!-- /.about-seven -->

<section class="about-six">
  <div class="about-six__curv">
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                      <path fill="currentColor"
                          d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
                  </svg> -->
  </div>
  <!-- /.about-six__curv -->

  <div class="auto-container">
    <div class="row">
      <div class="col-md-12 col-lg-5" style="margin-block: auto">
        <div class="about-six__content">
          <div class="sec-title-six">
            <!-- <p class="sec-title-six__text"><span>Our Company Benefits</span></p> -->
            <!-- /.sec-title-six__text -->
            <h2 class="sec-title-six__title">
                Comprehensive IT Solutions in Canada
            </h2>
            <!-- /.sec-title-six__title -->
          </div>
          <!-- /.sec-title-six -->
          <div class="about-six__text">
            From cutting-edge hardware to bespoke software solutions, Zaco offers a comprehensive suite of IT solutions designed to drive efficiency, productivity, and growth for your business. Whether you're a small startup or a large enterprise, our team of IT experts is here to help you harness the full potential of technology to achieve your business objectives.
          </div>
          <!-- /.about-six__text -->
        </div>
        <!-- /.about-six__content -->
      </div>
      <!-- /.col-md-12 col-lg-5 -->
      <div
        class="col-md-12 col-lg-7 wow fadeInRight"
        data-wow-duration="1500ms"
      >
        <div class="about-six__image">
          <img
            src="{% static 'images/canada/can-home-3.jpg' %}"
            alt=""
          />
        </div>
        <!-- /.about-six__image -->
      </div>
      <!-- /.col-md-12 col-lg-7 -->
    </div>
    <!-- /.row -->

    <!-- /.row -->
  </div>
  <!-- /.auto-container -->
</section>

<section class="about-eleven" id="about">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-eleven__images wow fadeInLeft" data-wow-duration="1500ms">
                    <img  src="{% static 'images/canada/can-hom-4.jpg' %}" alt="">
                   
                    <img src="images/update-01-10-2021/resources/about-11-1-2.jpg" alt="">
                </div><!-- /.about-eleven__images -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6" style="margin-block: auto">
                <div class="about-eleven__content">
                    <div class="sec-title-eight text-start">
                        {% comment %} <p class="sec-title-eight__text">Our Company Introduction</p> {% endcomment %}
                        <!-- /.sec-title-eight__text -->
                        <h2 class="sec-title-eight__title">Trusted IT Solutions Provider in Canada</h2><!-- /.sec-title-eight__title -->
                    </div><!-- /.sec-title-eight -->
                    <p class="about-eleven__summery">With years of experience and a proven track record of success, Zaco has earned a reputation as a trusted IT solutions provider in Canada and beyond. Our commitment to excellence, integrity and customer satisfaction sets us apart, ensuring that you receive the highest quality service and support every step of the way.</p><!-- /.about-eleven__summery -->
                   
                </div><!-- /.about-eleven__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.auto-container -->
</section><!-- /.about-eleven -->


<section class="about-six">
  <div class="about-six__curv">
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                      <path fill="currentColor"
                          d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
                  </svg> -->
  </div>
  <!-- /.about-six__curv -->

  <div class="auto-container">
    <div class="row">
      <div class="col-md-12 col-lg-5" >
        <div class="about-six__content">
          <div class="sec-title-six">
            <!-- <p class="sec-title-six__text"><span>Our Company Benefits</span></p> -->
            <!-- /.sec-title-six__text -->
            <h2 class="sec-title-six__title">
                Managed IT Services: Your Success Partner in Canada
            </h2>
            <!-- /.sec-title-six__title -->
          </div>
          <!-- /.sec-title-six -->
          <div class="about-six__text">
            Zaco Computers provides cutting-edge managed IT services, offering proactive monitoring, maintenance and support for your entire IT infrastructure. Our team of dedicated experts ensures your systems are always optimized, allowing you to focus on business growth. With predictable pricing and scalable solutions, we prioritize cost efficiency and adaptability. Partnering with us means gaining access to robust security measures, and safeguarding your data from cyber threats. From proactive maintenance to strategic planning, we handle IT complexities, empowering you to drive your business forward. With Zaco as your trusted managed IT solutions provider, you can enjoy peace of mind knowing your technology is in capable hands. Experience unparalleled support and reliability with Zaco Computers – your pathway to seamless IT management and business success.
          </div>
          <!-- /.about-six__text -->
        </div>
        <!-- /.about-six__content -->
      </div>
      <!-- /.col-md-12 col-lg-5 -->
      <div
        class="col-md-12 col-lg-7 wow fadeInRight"
        data-wow-duration="1500ms"
        style="margin-block: auto"
      >
        <div class="about-six__image">
          <img
            src="{% static 'images/canada/IT-SERVICES-UAE.jpg' %}"
            alt=""
          />
        </div>
        <!-- /.about-six__image -->
      </div>
      <!-- /.col-md-12 col-lg-7 -->
    </div>
    <!-- /.row -->

    <!-- /.row -->
  </div>
  <!-- /.auto-container -->
</section>









<section class="we-do-section">

    <div class="auto-container">
        <div class="sec-title " style="text-align:center;padding-bottom:5px ">
            <h2>
                Why Choose Zaco?
              <span class="dot">.</span>
            </h2>
          </div>
        <div class="sec-title">
        
      <div class="row clearfix">
        <!--Left Column-->
   
        <!--Right Column-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12" style="margin-block: auto">
            
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span> Expertise:
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Our team of seasoned professionals brings a wealth of knowledge and expertise to every project, ensuring that you receive best-in-class IT solutions tailored to your unique requirements.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span>  Innovation:
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        We stay ahead of the curve with cutting-edge technology solutions that drive innovation and transform businesses.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span> Reliability:
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Count on Zaco for dependable services to keep your business running smoothly day in and day out.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">4.</span> Customer-Centric Approach:
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Your success is our priority. We work closely with you to understand your goals and challenges, delivering personalized solutions that exceed your expectations. Join hands with Zaco Computers Pvt. Ltd. to embark on a journey of digital transformation and unprecedented reliable growth. Let us be your partner in realizing the full potential of technology for your business.
                      </div>
                    </div>
                  </div>
                </li>
         
            
              </ul>
            </div>
          </div>
        </div>
        <div class="left-col col-lg-6 col-md-12 col-sm-12" style="margin-block: auto">
            <div class="">
                {% comment %} <img
                  src="{% static 'images/rentalimg/uk-home-1.png' %}"
                  alt=""
                /> {% endcomment %}
                <img  src="{% static 'images/canada/can-home-6.jpg' %}" alt="">
              </div>
        </div>
      </div>
    </div>
  </section>




{% endblock %}
