
  
  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
  
                <!--Column-->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="widget-content">
                            <div class="logo">
                                <a href="index.html"><img id="fLogo" src="images/footer-logo.png" alt="" /></a>
                            </div>
                            <div class="text">Zaco Computers delivers reliable global IT infrastructure solutions with expert support, quality hardware, and flexible services.</div>
                            {% comment %} <ul class="social-links clearfix">
                                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            </ul> {% endcomment %}
                        </div>
                    </div>
                </div>
  
                <!--Column-->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <h6>Explore</h6>
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="{% url "about_us" %}">About Us</a></li>
                                        <li><a href="{% url "services" %}">Services</a></li>
                                        <li><a href="{% url "global-it" %}">GlobalITSupport</a></li>
                                        <li><a href="{% url "itad-services" %}">ITAD Services</a></li>
                                        <li><a href="{% url "contact" %}">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="https://store.zacocomputer.com/">Shop</a></li>
                                        <li><a href="https://itservicedesk.zacocomputer.com/login?next=/">Support</a></li>
                                        <li><a href="{% url "privacy" %}">Privacy Policy</a></li>
                                        <li><a href="{% url "term" %}">Terms of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
                <!--Column-->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget info-widget">
                        <div class="widget-content">
                            <h6>Contact</h6>
                            <ul class="contact-info">
                                <li class="address"><span class="icon flaticon-pin-1"></span> 3, DLH Park, S. V. Road,
                                  Goregaon (West),
                                  Mumbai – 400062.
                                  Maharashtra, India.
  
                                  </li>
                                <li><span class="icon flaticon-call"></span><a href="tel:+91-22-69288800">+91 22 69288800</a></li>
                                <li><span class="icon flaticon-email-2"></span><a
                                        href="mailto:info@zacocomputer.com">info@zacocomputer.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
  
                <!--Column-->
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <div class="widget-content">
                            <h6>Newsletter</h6>
                            <div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="form-group clearfix">
                                        <input type="email" name="email" value="" placeholder="Email Address"
                                            required="">
                                        <button type="submit" class="theme-btn"><span
                                                class="fa fa-envelope"></span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="text">Sign up for our latest news & articles. We won’t give you spam
                                mails.</div>
                        </div>
                    </div>
                </div>
  
            </div>
  
        </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner clearfix">
              &copy; 2025 Zaco Computer Pvt. Ltd. All rights reserved.
              <div class="developed-by">
                  Developed and managed by <a href="https://zacoinfotech.com/" target="_blank">Zaco Information Technology Pvt. Ltd.</a>
                </div>
          </div>
        </div>
    </div>
  
  </footer>
  
  </div>
  <!--End pagewrapper-->
  
  <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
  
  