{% extends 'india/base.html' %} {% load static %} {% block content %}

        <section class="banner-section-four">

            <!-- If we need navigation buttons -->
            <div class="banner-section-four__nav">
                <div class="swiper-button-prev" id="banner-section-four__swiper-button-next"><i
                        class="fa fa-angle-up"></i>
                </div>
                <div class="swiper-button-next" id="banner-section-four__swiper-button-prev"><i
                        class="fa fa-angle-down"></i></div>
            </div><!-- /.banner-section-four__nav -->
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{
                "slidesPerView": 1,
                "loop": true,
                "effect": "fade",
                "autoplay": {
                    "delay": 5000
                },
                "navigation": {
                    "nextEl": "#banner-section-four__swiper-button-next",
                    "prevEl": "#banner-section-four__swiper-button-prev"
                }
            }'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url({% static "images/india/network/network-bg.jpg" %});">
                        </div>
                        <!-- /.image-layer -->
                        <div class="auto-container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7">
                                    <h2>Professional Network Support & Infrastructure Management Across India


                                    </h2>
                                    {% comment %} <a href="#" class="theme-btn btn-style-three">Discover More</a> {% endcomment %}
                                    <!-- /.thm-btn dynamic-radius -->
                                </div><!-- /.col-lg-7 text-right -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.swiper-slide -->
                    {% comment %} <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(images/update-1-12-2020/slider/main-slider-1-2.jpg);">
                        </div>
                        <!-- /.image-layer -->
                        <div class="auto-container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7">
                                    <h2>We Combine Tech
                                        With Business</h2>
                                    <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia <br>
                                        deserunt
                                        mollit anim id est laborum.</p>
                                    <a href="#" class="theme-btn btn-style-three">Discover More</a>
                                    <!-- /.thm-btn dynamic-radius -->
                                </div><!-- /.col-lg-7 text-right -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div><!-- /.swiper-slide --> {% endcomment %}
                </div><!-- /.swiper-wrapper -->


            </div><!-- /.swiper-container thm-swiper__slider -->
        </section><!-- /.banner-section-four -->







                <!-- about section -->
                <section class="about-section-three">
                    <div class="auto-container">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="about-section-three__image">
                                    <img src="{% static "images/india/network/network1-1.jpg" %}" alt="">
                                </div><!-- /.about-section-three__image -->
                            </div><!-- /.col-md-12 -->
                            <div class="col-md-12 col-lg-6">
                                <div class="about-section-three__content">
                                    <div class="sec-title-two text-left">
                                        {% comment %} <p>welcome to business agency</p> {% endcomment %}
                                        <h2>Why Network Maintenance Matters
                                        </h2>
                                    </div><!-- /.sec-title-two -->
                                    <div class="about-section-three__summery">
                                        <p>A strong network forms the backbone of your digital operations. From communication to data transfer, every business process depends on it. Our goal is to eliminate disruptions and secure your network infrastructure through:
        
                                            </p>
                                    </div><!-- /.about-section-three__summery -->
                                    <ul class="list-unstyled about-section-three__list">
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            Regular performance optimization
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            Proactive issue detection and resolution
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            Firmware and patch updates
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle"></i>
                                            Network security audits and upgrades
        
        
                                        </li>
                                    </ul><!-- /.list-unstyled about-section-three__list -->
                                    {% comment %} <div class="progress-box">
                                        <div class="bar-title">Bussiness Success</div>
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="70%">
                                                <div class="count-box">
                                                    <span class="count-text" data-stop="70" data-speed="1500">0</span>%
                                                </div>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                    {% comment %} <div class="about-section-three__name">
                                        <img src="images/update-1-12-2020/resources/signture-1-1.png" alt="">
                                        <h3>William Smith</h3>
                                        <p>Co Founder</p>
                                    </div><!-- /.about-section-three__name --> {% endcomment %}
                                </div><!-- /.about-section-three__content -->
                            </div><!-- /.col-md-12 col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.auto-container -->
                </section><!-- /.about-section-three -->
        

        <section class="we-do-section">

            <div class="auto-container">
                <div class="sec-title-two " style="text-align:center;padding-bottom:5px ">
                    <h2>
                        Our Network Maintenance Services Include:

                      <span class="dot">.</span>
                    </h2>
                  </div>
                <div class="sec-title">
                
              <div class="row clearfix">
                <!--Left Column-->
           
                <!--Right Column-->
                <div class="right-col col-lg-6 col-md-12 col-sm-12">
                    
                  <div class="inner">
                    <div class="faq-box">
                      <ul class="accordion-box clearfix">
                        <!--Block-->
                        <li class="accordion block active-block">
                          <div class="acc-btn active">
                            <span class="count">1.</span> Preventive Maintenance

        
                          </div>
                          <div class="acc-content current">
                            <div class="content">
                                <ul>
                                    <li> <span class="count">* </span> Periodic health checks of switches, routers, firewalls</li>
                                    <li><span class="count">* </span> Firmware updates and configuration backups

                                    </li>
                                    <li><span class="count">* </span> Periodic health checks of switches, routers, firewalls</li>
                                </ul>

                              <!-- <div class="text">
                                Our experienced team of IT experts is dedicated to providing comprehensive network support solutions tailored to meet your specific needs. Whether it's troubleshooting network issues, optimizing network performance, or implementing security protocols, we are here to keep your network running smoothly.
                              </div> -->
                            </div>
                          </div>
                        </li>
          
                        <!--Block-->
                        <li class="accordion block">
                          <div class="acc-btn">
                            <span class="count">2.</span>  On-Site & Remote Support

                          </div>
                          <div class="acc-content">
                            <div class="content">
                                <ul>
                                    <li> <span class="count">* </span> PAN India support by certified engineers

                                    </li>
                                    <li><span class="count">* </span> Remote diagnostics and resolution for minor issues

                                    </li>
                                    <li><span class="count">* </span> On-site visits for hardware troubleshooting or replacement

                                    </li>
                                </ul>

                              <!-- <div class="text">
                                Our experienced team of IT experts is dedicated to providing comprehensive network support solutions tailored to meet your specific needs. Whether it's troubleshooting network issues, optimizing network performance, or implementing security protocols, we are here to keep your network running smoothly.
                              </div> -->
                            </div>
                          </div>
                        </li>
          
                        <!--Block-->
                        <li class="accordion block">
                          <div class="acc-btn">
                            <span class="count">3.</span> Security & Risk Management

                          </div>
                          <div class="acc-content">
                            <div class="content">
                                <ul>
                                    <li> <span class="count">* </span> Network vulnerability assessments



                                    </li>
                                    <li><span class="count">* </span> Firewall configuration and monitoring



                                    </li>
                                    <li><span class="count">* </span> Protection against malware, DDoS, and internal breaches



                                    </li>
                                </ul>

                              <!-- <div class="text">
                                Our experienced team of IT experts is dedicated to providing comprehensive network support solutions tailored to meet your specific needs. Whether it's troubleshooting network issues, optimizing network performance, or implementing security protocols, we are here to keep your network running smoothly.
                              </div> -->
                            </div>
                          </div>
                        </li>
                 
                    
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="left-col col-lg-6 col-md-12 col-sm-12">
                    <div class="">
                        <img
                          src="{% static 'images/rentalimg/Our-Network-Maintenance-Services-Include.png' %}"
                          alt=""
                        />
                      </div>
                </div>
              </div>
            </div>
          </section>



          <section class="featured-section">
            <div class="auto-container">
                <!-- <div class="sec-title-two " style="text-align:center;padding-bottom:5px ">
                    <h2>
                        Why Choose Zaco for Network Maintenance

                      <span class="dot">.</span>
                    </h2>
                  </div> -->

                <div class="row clearfix">
                    <!--Left Column-->
                    <div class="left-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image-box"><img src="{% static "images/india/network/networkr2-1.jpg" %}" alt=""></div>
                        </div>
                    </div>
                    <!--Right Column-->
                    <div class="right-col col-lg-6 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="sec-title">
                                <h2>Why Choose Zaco for Network Maintenance<span class="dot">.</span></h2>
                                <!-- <div class="lower-text">We provide globally certified refurbished servers from 
                                  leading brands like Dell, HPE, IBM, and Cisco. With customizable configurations 
                                  and strict quality testing, our servers deliver performance and savings for 
                                  businesses worldwide.
                                </div> -->
                            </div>
                            <div class="features">
                                <div class="row clearfix">
                                    <div class="feature col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <h6>Number Of Years

                                            </h6>
                                            <div class="text">20+ Years of IT Infrastructure Expertise

                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <h6>PAN India

                                            </h6>
                                            <div class="text">PAN India Service Coverage

                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <h6>Availability

                                            </h6>
                                            <div class="text">Availability of Spares & Refurbished Hardware

                                            </div>
                                        </div>
                                    </div>
                                    <div class="feature col-md-6 col-sm-12">
                                        <div class="inner-box">
                                            <h6>Experienced Staff
                                            </h6>
                                            <div class="text">Certified & Experienced Engineers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
          
                        </div>
                    </div>
                </div>
            </div>
          </section>
          


        <!-- service section -->
        {% comment %} <section class="service-block-three">
            <div class="auto-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-responsive"></span></div>
                            <h6><a href="web-development.html">Rack-mounted  <br>Storage Servers</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="300ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-computer"></span></div>
                            <h6><a href="graphic-designing.html">Blade  <br>Servers</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="600ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-development"></span></div>
                            <h6><a href="digital-marketing.html">Micro and 

                                <br>Tower Servers</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-responsive"></span></div>
                            <h6><a href="seo.html">SAN / NAS  <br>Systems</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="300ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-app-development"></span></div>
                            <h6><a href="app-development.html">DAS, Tape Libraries &  <br>Backup Systems</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                    <div class="col-sm-12 col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="600ms"
                        data-wow-duration="1500ms">
                        <div class="service-block-three__single">
                            <div class="icon-box"><span class="flaticon-ui"></span></div>
                            <h6><a href="ui-designing.html">Refurbished & Legacy  <br> Systems</a></h6>
                        </div><!-- /.service-block-three__single -->
                    </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.auto-container -->
        </section><!-- /.service-block-three --> {% endcomment %}


		





        <!-- gallery section -->

        <!-- live section -->
        {% comment %} <section class="live-section-two jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 80%">
            <img src="images/update-1-12-2020/background/video-bg-1-1.jpg" alt="" class="jarallax-img">
            <div class="auto-container">
                <div class="sec-title-two">
                    <p>Client Testimonials</p>
                    <h2>We’re Delivering only
                        Expectional Quality
                        Work</h2>
                </div><!-- /.sec-title-two -->
                <div class="button-block">
                    <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image">
                        <div class="icon"><span class="flaticon-play-button-1"></span></div>
                    </a>
                </div><!-- /.button-block -->
            </div><!-- /.auto-container -->
        </section><!-- /.live-section -->
 {% endcomment %}
        {% comment %} <div class="sponsors-section-three">
            <div class="auto-container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 140, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="images/update-1-12-2020/resources/client-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                    </div><!-- /.swiper-wrapper -->
                </div><!-- /.thm-swiper__slider -->
            </div><!-- /.auto-container -->
        </div><!-- /.sponsors-section-three --> {% endcomment %}

        <!-- testimonials section -->
        {% comment %} <section class="testi-block-three">
            <div class="auto-container">
                <div class="sec-title-two text-center">
                    <p>Client Testimonials</p>
                    <h2>What They’re Saying</h2>
                </div><!-- /.sec-title-two -->
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="testi-block-three__single">
                            <div class="testi-block-three__top">
                                <p>There are many variations of passages of lorem ipsum but the majority have alteration
                                    in some form, by injected randomised words look.</p>
                            </div><!-- /.testi-block-three__top -->
                            <img src="images/update-1-12-2020/resources/testi-1-1.png" alt="">
                            <h3>Mike Hardson</h3>
                            <span>customer</span>
                        </div><!-- /.testi-block-three__single -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-4">
                        <div class="testi-block-three__single">
                            <div class="testi-block-three__top">
                                <p>There are many variations of passages of lorem ipsum but the majority have alteration
                                    in some form, by injected randomised words look.</p>
                            </div><!-- /.testi-block-three__top -->
                            <img src="images/update-1-12-2020/resources/testi-1-2.png" alt="">
                            <h3>Mike Hardson</h3>
                            <span>customer</span>
                        </div><!-- /.testi-block-three__single -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                    <div class="col-md-12 col-lg-4">
                        <div class="testi-block-three__single">
                            <div class="testi-block-three__top">
                                <p>There are many variations of passages of lorem ipsum but the majority have alteration
                                    in some form, by injected randomised words look.</p>
                            </div><!-- /.testi-block-three__top -->
                            <img src="images/update-1-12-2020/resources/testi-1-3.png" alt="">
                            <h3>Mike Hardson</h3>
                            <span>customer</span>
                        </div><!-- /.testi-block-three__single -->
                    </div><!-- /.col-md-12 col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.auto-container -->
        </section><!-- /.testi-block-three --> {% endcomment %}

        <!-- news section -->
        {% comment %} <section class="news-two">
            <div class="auto-container">
                <div class="sec-title-two text-center">
                    <p>Our News</p>
                    <h2>News & Articles</h2>
                </div><!-- /.sec-title-two -->
                <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "spaceBetween": 0, "loop": true, "slidesPerGroup": 2,
                    "pagination": {
                        "el": "#news-two-pagination",
                        "type": "bullets",
                        "clickable": true
                    },
                    "autoplay": {
                        "delay": 5000
                    },
                    "breakpoints": {
                        "0": {
                            "slidesPerView": 1,
                            "slidesPerGroup": 1,
                            "spaceBetween": 0
                        },
                        "768": {
                            "slidesPerView": 2,
                            "slidesPerGroup": 2,
                            "spaceBetween": 30
                        }
                    }
                }'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-1.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-2.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-1.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-2.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-1.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="news-two__box">
                                <div class="news-two__image">
                                    <img src="images/update-1-12-2020/blog/blog-1-2.jpg"
                                        alt="What is the Better Way of Running a Business?">
                                </div><!-- /.news-two__image -->
                                <div class="news-two__content">
                                    <ul class="list-unstyled news-two__meta">
                                        <li><a href="blog-single.html">06 Nov, 2020</a></li>
                                        <li><a href="blog-single.html">3 Comments</a></li>
                                    </ul><!-- /.list-unstyled -->
                                    <h3><a href="blog-single.html">What is the Better Way of Running a Business?</a>
                                    </h3>
                                </div><!-- /.news-two__content -->
                            </div><!-- /.news-two__box -->
                        </div><!-- /.swiper-slide -->
                    </div><!-- /.swiper-wrapper -->
                    <div class="swiper-pagination" id="news-two-pagination"></div>

                </div><!-- /.thm-swiper__slider -->
            </div><!-- /.auto-container -->
        </section><!-- /.news-two --> {% endcomment %}


        {% endblock %}