{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.1.1/ckeditor5.css">

  <title>{% if editing %}Edit Blog{% else %}Add Blog{% endif %}</title>
  {{ form.media }}   <!-- ✅ loads CKEditor + uploader -->
</head>
<body>

  <h2>{% if editing %}Edit Blog{% else %}Add Blog{% endif %}</h2>

  {% if messages %}
    {% for message in messages %}
      <p style="color: green;">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
      {% if editing %}Update{% else %}Add{% endif %} Blog
    </button>
  </form>
		<script src="https://cdn.ckeditor.com/ckeditor5/46.1.1/ckeditor5.umd.js"></script>


</body>
</html>
