{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Banner Section -->

      <section class="slider-six">
        <div class="slider-six__curv">
            <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
        </div><!-- /.slider-six__curv -->
        <div class="swiper-container thm-swiper__slider"
            data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-layer"
                        style="background-image: url({% static 'images/global-it/global-back.jpg' %});background-position:top;">
                    </div>
                    <!-- /.image-layer -->
                    <div class="auto-container">
                        <div class="slider-six__content">
                            <p class="slider-six__text"><span>Gobal IT Solutions</span></p>
                            <!-- /.slider-six__text -->
                            <h2 class="slider-six__title">Gobal IT Solutions</h2>
                            <!-- /.slider-six__title -->
                            <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
                            <!-- /.thm-btn__six -->
                        </div><!-- /.slider-six__content -->
                    </div>
                </div>
   
            </div>
            <!-- If we need navigation buttons -->
            <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
        </div>
    </section><!-- /.slider-six -->






              <!--Featured Section-->
              <section class="featured-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Left Column-->
                        <div class="left-col col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box"><img src="{% static 'images/global-it/datacenter-logi.jpg' %}" alt=""></div>
                            </div>
                        </div>
                        <!--Right Column-->
                        <div class="right-col col-lg-6 col-md-12 col-sm-12">
                            <div class="inner">
                                <div class="sec-title">
                                    <h2>Seamless Data Center Logistics & Support for Global Businesses<span class="dot">.</span></h2>
                                    <div class="lower-text">At Zaco, we recognize the complexities enterprises face when managing IT support across diverse geographies. That’s why we offer end-to-end infrastructure services tailored to help your business succeed in global markets—especially in India and the UAE. From On-Demand Warehousing and Critical Spares Support to Field Engineering Services, our solutions are designed to reduce costs, increase efficiency, and ensure business continuity.</div>
                                    <div class="lower-text">With a robust infrastructure and strategic service hubs, we act as your extended arm, delivering localized IT support that aligns with your global operations..</div>
                                </div>
                    
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>

     <!--Agency Section-->
     {% comment %} <section class="agency-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-col col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Best design Agency <br>solutions<span class="dot">.</span></h2>
                        </div>

                        <!--Default Tabs-->
                        <div class="default-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#tab-1" class="tab-btn active-btn"><span>Our Mission</span></li>
                                <li data-tab="#tab-2" class="tab-btn"><span>Our Vision</span></li>
                                <li data-tab="#tab-3" class="tab-btn"><span>Our Legacy</span></li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab-->
                                <div class="tab active-tab" id="tab-1">
                                    <div class="content">
                                        <div class="text">Zaco’s Mission is to simplify IT for our customers. We take care of all complexities so that our clients can focus on their core business. Through our team of experts and partnerships with top brands, we offer one-stop solutions tailored to specific needs.</div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-2">
                                    <div class="content">
                                        <div class="text">Our Vision is to be the most trusted advisor for all technology needs of our clients. We aim to deliver best-in-class hardware and software solutions that create value for businesses.</div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-3">
                                    <div class="content">
                                        <div class="text">As a multi-national company with offices in India, the United Kingdom, and the U.A.E, we leverage our global experience and resources to serve clients everywhere</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Right Column-->
                <div class="right-col col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="text">How is Zaco Unique in Providing Global IT Solutions</div>
                        <div class="featured-block-two clearfix">
                            <div class="image"><img src="{% static 'images/about-us/best.jpg' %}" alt=""></div>
                            <div class="text">
                                <ul>
                                    <li>Expertise You Can Trust</li>
                                    <li>Quality That Lasts</li>
                                    <li>Resources On-Demand</li>
                                    <li>Flexibility without Limits</li>
                                    <li>Value Beyond Costs</li>
                                    <li>Worldwide Support
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


{% comment %} 
    <section class="project-eight" id="portfolio">
      <div class="auto-container">
        <div class="sec-title-eight text-center">
          <!-- <p class="sec-title-eight__text">Recent Cases</p> -->
          <!-- /.sec-title-eight__text -->
          <h2 class="sec-title-eight__title">Our Services</h2>
          <!-- /.sec-title-eight__title -->
        </div>
        <!-- /.sec-title-eight -->
        <div
          class="thm-swiper__slider swiper-container"
          data-swiper-options='{"spaceBetween": 30, "slidesPerView": 2, "autoplay": { "delay": 5000 }, "breakpoints": {
          "0": {
            "slidesPerView": 1
          },
          "375": {
            "slidesPerView": 1
          },
          "480": {
            "slidesPerView": 2
          },
          "767": {
            "slidesPerView": 3
          },
          "1199": {
            "slidesPerView": 4
          }
        }}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="portfolio-single.html"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Server Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Storage-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="portfolio-single.html"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">
                      Storage Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="portfolio-single.html"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Network Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Rental.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="portfolio-single.html"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Rental Services</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/infrastructure-managed.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="portfolio-single.html"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Infrastructure Managed Service</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->

     
          </div>
        </div>
      </div>
      <!-- /.auto-container -->
    </section> {% endcomment %}
    <!-- /.project-seven -->





       <!--Why Us Section-->
       <section class="why-us-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="round-box">
                            <div class="image-box">
                                <img src="{% static 'images/global-it/global-2-3.jpg' %}" alt="">
                            </div>
                            <!-- <div class="vid-link">
                                <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image">
                                    <div class="icon"><span class="flaticon-play-button-1"></span><i
                                            class="ripple"></i></div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--Right Column-->
                <div class="right-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Why Choose Us<span class="dot">.</span></h2>
                        </div>
                        <div class="features">
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Strategically Located Service Hubs </h6>
                                    <div class="text">Optimize logistics and service efficiency with our presence in key regions like India and the UAE.</div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Regional Expertise </h6>
                                    <div class="text">Deep understanding of local business ecosystems, regulations, and operational dynamics.</div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Scalable IT Support </h6>
                                    <div class="text">– Flexible services that adapt as your business grows.</div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Over 20 Years of Experience </h6>
                                    <div class="text">Trusted by enterprises for multi-vendor IT hardware support and services.</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


<!--We DO Section-->
<section class="we-do-section">
    <div class="auto-container">
        <div class="sec-title " style="text-align:center;padding-bottom:5px ">
            <h2>
                Why Global Companies
                Trust Zaco
              <span class="dot">.</span>
            </h2>
          </div>
        <div class="sec-title">
        
      <div class="row clearfix">
        <!--Left Column-->
        <div class="left-col col-lg-5 col-md-12 col-sm-12">
            <div class="">
                <img
                  src="{% static 'images/update-01-10-2021/resources/YOUR-TRUSTED-PARTNER-SERVICES.jpg' %}"
                  alt=""
                />
              </div>
        </div>
        <!--Right Column-->
        <div class="right-col col-lg-7 col-md-12 col-sm-12">
            
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span> Your Local IT Partner
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        We represent your brand with professionalism and consistency in the regions we serve.</div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span> Cost-Efficient Alternatives to Local Setups 
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        –Leverage our infrastructure without investing in your own.</div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span> Multi-OEM Support Under One Roof 
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        –Whether you're managing legacy systems or modern tech, we support it all.                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">4.</span> Smooth Integration with Your Team 
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Think of us as an extension of your business, aligned with your workflows and standards.                      </div>
                    </div>
                  </div>
                </li>
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">5.</span>24/7 Help Desk Access 
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Our dedicated team ensures that you’re always supported, no matter the hour.                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







  <section class="about-ten">
    <div class="auto-container">
        <div class="row">
        
            <div class="col-lg-7 d-flex">
                <div class="my-auto">

                    <div class="about-ten__content">
                        <div class="sec-title-eight text-start">
                            {% comment %} <p class="sec-title-eight__text">Why Choose Us</p><!-- /.sec-title-eight__text --> {% endcomment %}
                            <h2 class="sec-title-eight__title">Benefits of Choosing Zaco Computers for Server Maintenance
                                Experts</h2><!-- /.sec-title-eight__title -->
                        </div><!-- /.sec-title-eight -->
   
                        <div class="about-ten__box">
                            {% comment %} <h3 class="about-ten__box__title">Customer Experience</h3> {% endcomment %}
                            <!-- /.about-ten__box__title -->
                            <p class="about-ten__box__text">Our proactive server maintenance approach helps prevent issues and optimizes server performance, leading to increased uptime and efficiency.</p>
                            <!-- /.about-ten__box__text -->
                        </div><!-- /.about-ten__box -->
                        <div class="about-ten__box">
                            {% comment %} <h3 class="about-ten__box__title">Customer Experience</h3> {% endcomment %}
                            <!-- /.about-ten__box__title -->
                            <p class="about-ten__box__text">We ensure your servers are protected with the latest security measures, minimizing the risk of data breaches and cyber-attacks. Our prompt and efficient server support minimizes downtime and ensures your business operations remain uninterrupted.</p>
                            <!-- /.about-ten__box__text -->
                        </div><!-- /.about-ten__box -->
                        <div class="about-ten__box">
                            {% comment %} <h3 class="about-ten__box__title">Customer Experience</h3> {% endcomment %}
                            <!-- /.about-ten__box__title -->
                            <p class="about-ten__box__text">By preventing costly server failures and data loss, our server maintenance support and services can help you save money in the long run.</p>
                            <!-- /.about-ten__box__text -->
                        </div><!-- /.about-ten__box -->
                        <div class="about-ten__box">
                            {% comment %} <h3 class="about-ten__box__title">Customer Experience</h3> {% endcomment %}
                            <!-- /.about-ten__box__title -->
                            <p class="about-ten__box__text">WWith our expertise and dedication, you can enjoy peace of mind knowing your critical servers are in good hands.</p>
                            <!-- /.about-ten__box__text -->
                        </div><!-- /.about-ten__box -->
                    </div><!-- /.about-ten__content -->
                </div><!-- /.my-auto -->
            </div><!-- /.col-lg-7 -->
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="about-ten__image">
                    <img src="  {% static 'images/update-01-10-2021/resources/server-maintainance-1.jpg' %}" alt="">
                </div><!-- /.about-ten__image -->
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.auto-container -->
</section><!-- /.about-ten -->




    <section class="service-twelev">
        <div class="service-twelev__bg jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%" style="background-image: url({% static "images/update-15-08-2024/background/service-12-bg.jpg" %});"></div>
        <div class="container">
            <div class="sec-title-twelev text-center">
                {% comment %} <div class="sec-title-twelev__tagline"><span class="sec-title-twelev__tagline__bar"></span>Service</div> {% endcomment %}
                <h2 class="sec-title-twelev__title">Why Global Companies  <br>Trust Zaco</h2>
            </div>
            <div class="service-twelev__carousel owl-theme owl-carousel">
                <div class="service-twelev__item">
                    <h3 class="service-twelev__item__title"><a href="web-development.html">Trust Zaco</a></h3>
                    <p class="service-twelev__item__text">
                        We represent your brand with professionalism and consistency in the regions we serve. </p>
                    <div class="service-twelev__item__number"></div>
                </div><!-- service-twelev__item -->
                <div class="service-twelev__item">
                    <h3 class="service-twelev__item__title"><a href="graphic-designing.html">Cost-Efficient Alternatives to Local Setups </a></h3>
                    <p class="service-twelev__item__text">
                        Leverage our infrastructure without investing in your own.                    </p>
                    <div class="service-twelev__item__number"></div>
                </div><!-- service-twelev__item -->
                <div class="service-twelev__item">
                    <h3 class="service-twelev__item__title"><a href="digital-marketing.html">Multi-OEM Support Under One Roof </a></h3>
                    <p class="service-twelev__item__text">
                        Whether you're managing legacy systems or modern tech, we support it all.                    </p>
                    <div class="service-twelev__item__number"></div>
                </div><!-- service-twelev__item -->
                <div class="service-twelev__item">
                    <h3 class="service-twelev__item__title"><a href="web-development.html">Smooth Integration with Your Team </a></h3>
                    <p class="service-twelev__item__text">
                        – Think of us as an extension of your business, aligned with your workflows and standards.                    </p>
                    <div class="service-twelev__item__number"></div>
                </div><!-- service-twelev__item -->
                <div class="service-twelev__item">
                    <h3 class="service-twelev__item__title"><a href="graphic-designing.html">24/7 Help Desk Access </a></h3>
                    <p class="service-twelev__item__text">
                        – Our dedicated team ensures that you’re always supported, no matter the hour.                    </p>
                    <div class="service-twelev__item__number"></div>
                </div><!-- service-twelev__item -->
            </div>
        </div>
    </section>




    <section class="tabs-thirteen">
        <div class="container">
            <div class="row tabs-box">
                <div class="col-lg-3 d-flex align-items-end wow fadeInUp" data-wow-delay="00ms">
                    <!--Tab Btns-->
                    <ul class="tabs-thirteen__btns tab-buttons clearfix">
                        <li data-tab="#tab-1" class="tab-btn active-btn">On-Demand Warehousing</li>
                        <li data-tab="#tab-2" class="tab-btn">Critical Spares Support</li>
                        <li data-tab="#tab-3" class="tab-btn">Field Engineering Support</li>
                    </ul>
                </div>
                <div class="col-lg-9 wow fadeInUp" data-wow-delay="100ms">
                    <!--Tabs Container-->
                    <div class="tabs-content">
                        <!--Tab-->
                        <div class="tab active-tab" id="tab-1">
                            <div class="tabs-thirteen__tab-content">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-5">
                                        <div class="tabs-thirteen__image">
                                            <img src="{% static "images/update-15-08-2024/resources/tab-13-1.jpg" %}" alt="linoor">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="tabs-thirteen__content">
                                            <h3 class="tabs-thirteen__content__title">Our Core Services</h3>
                                            <p class="tabs-thirteen__content__text">
                                                Streamline your supply chain with our reliable warehousing and inventory management solutions. Our facilities across India and the UAE support faster logistics, reduced lead times, and optimized operations.                                            </p>
                                            <ul class="list-unstyled tabs-thirteen__content__list">
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                Flexible Storage Options – Scale your inventory as needed.
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Efficient Distribution – Reduce delays with quick access to IT hardware.                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Smart Inventory Tracking – Gain visibility into stock levels and movement.                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="tabs-thirteen__tab-content">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-5">
                                        <div class="tabs-thirteen__image">
                                            <img src="{% static "images/update-15-08-2024/resources/tab-13-1.jpg" %}" alt="linoor">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="tabs-thirteen__content">
                                            <h3 class="tabs-thirteen__content__title">Critical Spares Support</h3>
                                            <p class="tabs-thirteen__content__text">
                                                Maintain business continuity with rapid access to essential IT hardware spares. We eliminate the need for costly in-house stocking while ensuring fast response in case of hardware failures.                                            </p>
                                            <ul class="list-unstyled tabs-thirteen__content__list">
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Multi-Vendor Hardware Availability – From HPE and Dell to Cisco and IBM, we’ve got you covered.
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Fast Deployment – Same-day or next-day spare part delivery across supported locations.                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Optimized Cost Management – Minimize overhead while maximizing uptime                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-3">
                            <div class="tabs-thirteen__tab-content">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-5">
                                        <div class="tabs-thirteen__image">
                                            <img src="{% static "images/update-15-08-2024/resources/tab-13-1.jpg" %}" alt="linoor">
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="tabs-thirteen__content">
                                            <h3 class="tabs-thirteen__content__title">Field Engineering Support</h3>
                                            <p class="tabs-thirteen__content__text">
                                                Get expert on-ground assistance to manage your IT infrastructure more effectively. Our certified field engineers offer both on-site and remote support across India and the UAE.                                            </p>
                                            <ul class="list-unstyled tabs-thirteen__content__list">
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Certified & Experienced Technicians – Trained in handling complex data center equipment across multiple OEMs.
                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    24/7 Technical Support – Around-the-clock availability for installation, repair, and routine maintenance.                                                </li>
                                                <li>
                                                    <i class="fa fa-check-circle"></i>
                                                    Break-Fix & Preventive Services – Proactively address issues before they affect operations                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {% comment %} <section class="funfact-six">
        <div class="auto-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        <i class="funfact-six__icon flaticon-architect"></i><!-- /.funfact-six__icon -->
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="15"
                                data-speed="1500">0</span><!-- /.count-text -->
                        </h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Countries Served</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        <i class="funfact-six__icon flaticon-architect-1"></i><!-- /.funfact-six__icon -->
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="5000"
                                data-speed="1500">0</span><!-- /.count-text -->
                        </h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Clients</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        <i class="funfact-six__icon flaticon-buildings"></i><!-- /.funfact-six__icon -->
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="1000000"
                                data-speed="1500">0</span><!-- /.count-text -->
                        </h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Spares</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        <i class="funfact-six__icon flaticon-satisfaction"></i><!-- /.funfact-six__icon -->
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="2"
                                data-speed="1500">0</span><!-- /.count-text -->
                        </h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">More than 2 decades Exprience</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.auto-container -->
    </section><!-- /.funfact-six --> {% endcomment %}








    

      <section class="video-six">
        <div
          class="video-six__parallax jarallax"
          data-jarallax
          data-speed="0.3"
          data-imgPosition="50% 80%"
        >
          <img
            src="images/update-01-10-2021/background/video-six-bg-1.jpg"
            class="jarallax-img"
            alt=""
          />
        </div>
        <div class="auto-container">
          <div class="video-six__inner">
            <h3 class="video-six__title">
              For any queries or support, feel free to get in touch with us.
            </h3>
            <!-- /.video-six__title -->
            <div class="video-six__video">
              <!-- <h3 class="video-six__video__text">Watch video</h3>
           
              <a
                href="https://www.youtube.com/watch?v=8DP4NgupAhI"
                class="lightbox-image video-six__btn"
              >
                <i class="fa fa-play"></i>
                <i class="ripple"></i> </a
              > -->
              <div class="link-box" >
                <a class="theme-btn btn-style-one" href="about.html" style="background-color: #FFAA17;">
                  <i class="btn-curve"></i>
                  <span class="btn-title">Contact Us</span>
                </a>
              </div>
            </div>
            <!-- /.video-six__video -->
          </div>
          <!-- /.video-six__inner -->
        </div>
        <!-- /.auto-container -->
      </section>
      <!-- /.video-six -->
{% endblock %}
