{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner Section -->

<section class="slider-six">
  <div class="slider-six__curv">
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
  </div>
  <!-- /.slider-six__curv -->
  <div
    class="swiper-container thm-swiper__slider"
    data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url({% static "images/it-hardware/server-back.jpg" %});
          "
        ></div>
        <!-- /.image-layer -->
        <div class="auto-container">
          <div class="slider-six__content">
            <p class="slider-six__text"><span>Infrastructure Managed Services (IMS)</span></p>
            <!-- /.slider-six__text -->
            <h2 class="slider-six__title">
                Optimize and Secure Your IT Infrastructure with Our Expert Managed Services!
            </h2>
            <!-- /.slider-six__title -->
            <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
            <!-- /.thm-btn__six -->
          </div>
          <!-- /.slider-six__content -->
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url(images/update-01-10-2021/slider/slider-six-1-2.jpg);
          "
        ></div>
        <!-- /.image-layer -->
     
      </div>
    </div>
    <!-- If we need navigation buttons -->
    <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
  </div>
</section>
<!-- /.slider-six -->

<div class="auto-container" style="padding-block: 100px">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="about-six__content">
        <div class="sec-title-six" style="margin-bottom:20px">
          <!-- <p class="sec-title-six__text"><span>Our Company Benefits</span></p> -->
          <!-- /.sec-title-six__text -->
          <h2 class="sec-title-six__title">
            IT Infrastructure Managed Services
          </h2>
          <!-- /.sec-title-six__title -->
        </div>
        <!-- /.sec-title-six -->
        <div class="about-six__text">
            In today’s fast-paced business environment, a robust and well-managed IT infrastructure is essential for organizations to thrive. At Zaco Computers Private Limited, we specialize in providing comprehensive IT Infrastructure Managed Services (IMS) that empower businesses to optimize resources.
        </div>
        <div class="about-six__text">
            Our IMS covers a wide spectrum of proactive and strategic activities aimed at administering and optimizing your organization’s data and information infrastructure. A well-managed IT infrastructure isn’t just about hardware and software-it’s about empowering your business to thrive in the digital age.
        </div>
        <!-- /.about-six__text -->
        <div class="link-box" style="margin-top:20px">
            <a class="theme-btn btn-style-one" href="about.html">
              <i class="btn-curve"></i>
              <span class="btn-title">Discover More</span>
            </a>
          </div>
          <!-- /.about-six__content -->
        </div>
    </div>
    <!-- /.col-md-12 col-lg-5 -->
    <div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
      <div class="about-six__image">
        <img
          src="{% static 'images/update-01-10-2021/resources/IMSINTRO-1.png' %}"
          alt=""
        />
      </div>
      <!-- /.about-six__image -->
    </div>
    <!-- /.col-md-12 col-lg-7 -->
  </div>
  <!-- /.row -->

  <!-- /.row -->
</div>
<!-- /.auto-container -->


<!--We DO Section-->
<section class="we-do-section">
    <div class="auto-container">
        <div class="sec-title " style="text-align:center;padding-bottom:5px ">
            <h2>
                Benefits of Choosing Our Managed Services
              <span class="dot">.</span>
            </h2>
          </div>
        <div class="sec-title">
        
      <div class="row clearfix">
        <!--Left Column-->
        <div class="left-col col-lg-6 col-md-12 col-sm-12">
            <div class="">
                <img
                  src="{% static 'images/update-01-10-2021/resources/BenefitsIMS.png' %}"
                  alt=""
                />
              </div>
        </div>
        <!--Right Column-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12">
            
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span> Affordable Solutions

                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Our IMS provides cost-effectiveness without compromising on quality. Value-driven services ensure you get the most out of your investment.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span> Tailored Service Contracts
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        We believe in flexibility. We customize the service level agreements (SLAs) to meet your unique requirements.This adapts precise alignment with your business needs.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span>  Remote Support
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Geography is no barrier for us. Our expert team provides seamless remote assistance. Uninterrupted service delivery ensures that all your operations run smoothly.
                      </div>
                    </div>
                  </div>
                </li>
              
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







  <section class="about-ten">
    <div class="auto-container">
        <div class="row" style="margin-block:20px">
        
            <div class="col-lg-7 d-flex">
                <div class="my-auto">

                    <div class="about-ten__content">
                        <div class="sec-title-eight text-start">
                            {% comment %} <p class="sec-title-eight__text">Why Choose Us</p><!-- /.sec-title-eight__text --> {% endcomment %}
                            <h2 class="sec-title-eight__title">Choose Zaco for reliable IT solutions in VMware, Linux, Windows, Azure, Cyber Security & Veeam.









                                </h2><!-- /.sec-title-eight__title -->
                        </div><!-- /.sec-title-eight -->
   
                        <div class="">
                            {% comment %} <h3 class="about-ten__box__title">Customer Experience</h3> {% endcomment %}
                            <!-- /.about-ten__box__title -->
                            <p class="about-ten__box__text">Unlock the full potential of your IT infrastructure with Zaco’s highly experienced team of IT hardware and software experts. We specialize in delivering end-to-end IT solutions across VMware, Red Hat Linux, Microsoft Windows, Microsoft Azure, Seceon (Cybersecurity), and Veeam (Backup and Recovery). Our services cover a wide spectrum including virtualization with VMware vSphere, cloud setup and management, Windows and Linux installations, Active Directory management, and complete IT Infrastructure Managed Services (IMS).

                                With Zaco, you get a one-stop solution for comprehensive hardware and software management—so you can focus on growing your business while we take care of your IT.</p>
                            <!-- /.about-ten__box__text -->
                        </div><!-- /.about-ten__box -->
                      
                    </div><!-- /.about-ten__content -->
                </div><!-- /.my-auto -->
            </div><!-- /.col-lg-7 -->
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="about-ten__image">
                    <img src="  {% static 'images/update-01-10-2021/resources/server-maintainance-1.jpg' %}" alt="">
                </div><!-- /.about-ten__image -->
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.auto-container -->
</section><!-- /.about-ten -->












<!--We DO Section-->
<section class="we-do-section">
    <div class="auto-container">
        <div class="sec-title " style="text-align:center;padding-bottom:5px ">
            <h2>
                Why Opt for IT Infrastructure Managed Services with a Third-Party Organization?
              <span class="dot">.</span>
            </h2>
          </div>
        <div class="sec-title">
        
      <div class="row clearfix">
        <!--Left Column-->
        <div class="left-col col-lg-6 col-md-12 col-sm-12">
            <div class="">
                <img
                  src="{% static 'images/update-01-10-2021/resources/BenefitsIMS.png' %}"
                  alt=""
                />
              </div>
        </div>
        <!--Right Column-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12">
            
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span>  Focus on your Core Competency

                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Entrust your IT infrastructure to us, allowing your internal teams to concentrate on strategic initiatives for your core competency. Our experts will handle all intricate IT Infrastructure Management tasks.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span>  Streamlined Operations
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Reduce the need for an extensive in-house IT staff. Our experienced team efficiently manages your IT needs ensuring operational efficiency.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span>   Proven Expertise
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Benefit from our collective knowledge and successful project deliveries. We bring peak efficiency to your IT infrastructure.
                      </div>
                    </div>
                  </div>
                </li>
              
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
