{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Banner Section -->

      <section class="slider-six">
        <div class="slider-six__curv">
          <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
        </div>
        <!-- /.slider-six__curv -->
        <div
          class="swiper-container thm-swiper__slider"
          data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url({% static "images/it-hardware/IT-hardware-solutions.jpg" %});
                "
              ></div>
              <!-- /.image-layer -->
              <div class="auto-container">
                <div class="slider-six__content">
                  <p class="slider-six__text"><span>Services</span></p>
                  <!-- /.slider-six__text -->
                  <h2 class="slider-six__title">
                    Empowering Businesses Worldwide with Reliable IT Hardware and Expert Support.
                  </h2>
                  <!-- /.slider-six__title -->
                  <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
                  <!-- /.thm-btn__six -->
                </div>
                <!-- /.slider-six__content -->
              </div>
            </div>
            {% comment %} <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url({% static "images/update-01-10-2021/slider/slider-six-1-2.jpg" %});
                "
              ></div>
              <!-- /.image-layer -->
              <div class="auto-container">
                <div class="slider-six__content">
                  <p class="slider-six__text">
                    <span>Welcome to best linoor business agency</span>
                  </p>
                  <!-- /.slider-six__text -->
                  <h2 class="slider-six__title">
                    meet the corporate <br />
                    business agency
                  </h2>
                  <!-- /.slider-six__title -->
                  <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
                  <!-- /.thm-btn__six -->
                </div>
                <!-- /.slider-six__content -->
              </div>
            </div> {% endcomment %}
          </div>
          <!-- If we need navigation buttons -->
          <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="f  a fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
        </div>
      </section>
      <!-- /.slider-six -->









      <!--We DO Section-->
<section class="we-do-section">
    <div class="auto-container">
    </h3>
    <div class="row pb-5" style="text-align: center;">
        <h3 class="sec-title-six__title">It Hardware Solutions And Services

    </div>
      <div class="row clearfix">
        <!--Left Column-->
        
        <div class="left-col col-lg-6 col-md-12 col-sm-12">
          <div class="inner">
            <img
            src="{% static 'images/it-hardware/hardware-img1.png' %}"
            class="jarallax-img"
            alt=""
          />
            <!-- <div class="progress-box">
                    <div class="bar-title">Digital marketing</div>
                    <div class="bar">
                      <div class="bar-inner count-bar" data-percent="70%">
                        <div class="count-box">
                          <span
                            class="count-text"
                            data-stop="70"
                            data-speed="1500"
                            >0</span
                          >%
                        </div>
                      </div>
                    </div>
                  </div> -->
          </div>
        </div>
        <!--Right Column-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12">
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span> Extensive Hardware Portfolio
                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        From servers and storage to networking equipment and peripherals, we offer a vast selection of high-performance hardware from leading brands like Dell, HP, Lenovo, Cisco, and IBM. Browse our carefully curated catalog to find the perfect fit for your specific requirements, budget and industry.
                    </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span> Customizable IT Hardware Solutions
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Whether you need a single server upgrade or a complete IT infrastructure overhaul, our team of experts will work closely with you to understand your unique needs and design a customized IT hardware solution that seamlessly integrates with your existing technology.
                    </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span> Competitive Pricing
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        We believe in offering exceptional value to our global customers. We leverage our strong relationships with leading manufacturers and optimize our supply chain to ensure you get the best possible price for your it business solutions and hardware requirements.
                    </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="we-do-section">
    <div class="auto-container">
      <div class="row pb-5" style="text-align: center;">
        <h3 class="sec-title-six__title">IT Hardware Support
        </h3>
      </div>
      <div class="row clearfix">
        <!--Right Column moved to Left-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12">
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span>Global Support Network


                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Our dedicated team of highly trained and certified engineers is available 24/7 to provide you with expert support, regardless of your location. We offer a wide range of IT hardware support options, including on-site, remote and phone support to ensure that you receive timely and effective assistance whenever needed.
                    </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span>Proactive Maintenance


                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Minimize downtime and optimize performance with our IT maintenance solutions. We offer comprehensive maintenance services designed to identify and address potential issues before they impact your operations. Extended Warranties: Enjoy peace of mind with our extended warranty options that provide additional coverage beyond the standard manufacturer's warranty.
                    </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->

              </ul>
            </div>
          </div>
        </div>
  
        <!--Left Column moved to Right-->
        <div class="left-col col-lg-6 col-md-12 col-sm-12">
          <div class="inner">
            <img
              src="{% static 'images/it-hardware/hardware-img1.png' %}"
              class="jarallax-img"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  
  



        <!--Featured Section-->
        <section class="featured-section">
          <div class="auto-container">
            <div class="row clearfix">
              <!--Left Column-->
              <div class="left-col col-lg-6 col-md-12 col-sm-12">
                <div
                  class="inner wow fadeInLeft"
                  data-wow-delay="0ms"
                  data-wow-duration="1500ms"
                >
                  <div class="image-box">
                    <img src="{% static 'images/it-hardware/WHYZACO.png' %}" alt="" />
                  </div>
                </div>
              </div>
              <!--Right Column-->
              <div
                class="right-col col-lg-6 col-md-12 col-sm-12"
                style="margin-block: auto"
              >
                <div class="inner">
                  <div class="sec-title">
                    <h2>
                      Why Choose Zaco Computers as your IT Solutions Provider?<span class="dot"
                        >.</span
                      >
                    </h2>
                    <div class="lower-text">
                      With our global presence, we understand the diverse needs of businesses worldwide. Our team is equipped to provide localized support and guidance, ensuring you receive the best possible IT services and solutions.
                      <br>
                      <br>
                      We have more than two decades of rich experience and a track record for delivering successful IT solutions to businesses of all sizes and across various industries. Our commitment to quality and customer satisfaction has earned us a reputation as a trusted IT solutions partner. We offer everything you need for your IT infrastructure, from hardware procurement to expert IT hardware support. This eliminates the need to manage multiple vendors, saving you time and resources.
                      <br>
                      <br>
                      Ready to take your IT infrastructure to the next level? Contact our team today to discuss your specific needs and discover how Zaco Computers can be your trusted partner for all your IT hardware requirements.

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Featured Section-->


        <section class="video-six">
          <div
            class="video-six__parallax jarallax"
            data-jarallax
            data-speed="0.3"
            data-imgPosition="50% 80%"
          >
            <img
              src="images/update-01-10-2021/background/video-six-bg-1.jpg"
              class="jarallax-img"
              alt=""
            />
          </div>
          <div class="auto-container">
            <div class="video-six__inner">
              <h3 class="video-six__title">
                For any queries or support, feel free to get in touch with us.
              </h3>
              <!-- /.video-six__title -->
              <div class="video-six__video">
                <!-- <h3 class="video-six__video__text">Watch video</h3>
             
                <a
                  href="https://www.youtube.com/watch?v=8DP4NgupAhI"
                  class="lightbox-image video-six__btn"
                >
                  <i class="fa fa-play"></i>
                  <i class="ripple"></i> </a
                > -->
                <div class="link-box">
                  <a
                    class="theme-btn btn-style-one"
                    href="about.html"
                    style="background-color: #ffaa17"
                  >
                    <i class="btn-curve"></i>
                    <span class="btn-title">Contact Us</span>
                  </a>
                </div>
              </div>
              <!-- /.video-six__video -->
            </div>
            <!-- /.video-six__inner -->
          </div>
          <!-- /.auto-container -->
        </section>
{% endblock %}
