{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner Section -->

<section class="slider-six">
  <div class="slider-six__curv">
    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
  </div>
  <!-- /.slider-six__curv -->
  <div
    class="swiper-container thm-swiper__slider"
    data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url(images/update-01-10-2021/slider/slider-six-1-1.jpg);
          "
        ></div>
        <!-- /.image-layer -->
        <div class="auto-container">
          <div class="slider-six__content">
            <p class="slider-six__text"><span>Rental Services</span></p>
            <!-- /.slider-six__text -->
            <h2 class="slider-six__title">
              
                Reliable, Scalable Server Rental Services Tailored to your Global Business Needs.
            </h2>
            <!-- /.slider-six__title -->
            <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
            <!-- /.thm-btn__six -->
          </div>
          <!-- /.slider-six__content -->
        </div>
      </div>
      {% comment %} <div class="swiper-slide">
        <div
          class="image-layer"
          style="
            background-image: url(images/update-01-10-2021/slider/slider-six-1-2.jpg);
          "
        ></div>
        <!-- /.image-layer -->
     
      </div> {% endcomment %}
    </div>
    <!-- If we need navigation buttons -->
    <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
  </div>
</section>
<!-- /.slider-six -->

<div class="auto-container" style="padding-block: 100px">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="about-six__content">
        <div class="sec-title-six">
          <!-- <p class="sec-title-six__text"><span>Our Company Benefits</span></p> -->
          <!-- /.sec-title-six__text -->
          <h2 class="sec-title-six__title">
            Server Rental Services Solutions - Maximizing Performance and Reliability

          </h2>
          <!-- /.sec-title-six__title -->
        </div>
        <!-- /.sec-title-six -->
        <div class="about-six__text">
            At Zaco Computers, we understand the dynamic needs of businesses operating in today's globalized environment. To support your growth and agility, we offer comprehensive server rental services designed to cater to your specific requirements, no matter your location.
        </div>
        <!-- /.about-six__text -->
        <div class="link-box" style="margin-top:20px">
            <a class="theme-btn btn-style-one" href="about.html">
              <i class="btn-curve"></i>
              <span class="btn-title">Discover More</span>
            </a>
          </div>
          <!-- /.about-six__content -->
        </div>
    </div>
    <!-- /.col-md-12 col-lg-5 -->
    <div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-duration="1500ms">
      <div class="about-six__image">
        <img
          src="{% static 'images/rental-service/SERVER-RENTAL-SERVICES.png' %}"
          alt=""
        />
      </div>
      <!-- /.about-six__image -->
    </div>
    <!-- /.col-md-12 col-lg-7 -->
  </div>
  <!-- /.row -->

  <!-- /.row -->
</div>
<!-- /.auto-container -->


<!--We DO Section-->
{% comment %} <section class="we-do-section">

    <div class="auto-container">
        <div class="sec-title " style="text-align:center;padding-bottom:5px ">
            <h2>
                Our Network Maintenance Services Include
              <span class="dot">.</span>
            </h2>
          </div>
        <div class="sec-title">
        
      <div class="row clearfix">
        <!--Left Column-->
   
        <!--Right Column-->
        <div class="right-col col-lg-6 col-md-12 col-sm-12">
            
          <div class="inner">
            <div class="faq-box">
              <ul class="accordion-box clearfix">
                <!--Block-->
                <li class="accordion block active-block">
                  <div class="acc-btn active">
                    <span class="count">1.</span> IT Network Support

                  </div>
                  <div class="acc-content current">
                    <div class="content">
                      <div class="text">
                        Our experienced team of IT experts is dedicated to providing comprehensive network support solutions tailored to meet your specific needs. Whether it's troubleshooting network issues, optimizing network performance, or implementing security protocols, we are here to keep your network running smoothly.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">2.</span>  Managed IT Network Services
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        With our Managed IT Network Services, you can offload the day-to-day management of your network to our experts, allowing you to focus on your core business objectives. From proactive monitoring and maintenance to timely upgrades, we proactively manage every aspect of your network to ensure its reliability and security.
                      </div>
                    </div>
                  </div>
                </li>
  
                <!--Block-->
                <li class="accordion block">
                  <div class="acc-btn">
                    <span class="count">3.</span> IT Networking Services
                  </div>
                  <div class="acc-content">
                    <div class="content">
                      <div class="text">
                        Zaco Computers offers a wide range of IT Networking Services aimed at helping businesses to build, expand, and optimize their network infrastructure. Whether you're setting up a new network, expanding your existing one, or migrating to the cloud, our team has the expertise and resources to support your overall networking needs.
                      </div>
                    </div>
                  </div>
                </li>
         
            
              </ul>
            </div>
          </div>
        </div>
        <div class="left-col col-lg-6 col-md-12 col-sm-12">
            <div class="">
                <img
                  src="{% static 'images/rentalimg/Our-Network-Maintenance-Services-Include.png' %}"
                  alt=""
                />
              </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="about-ten">
    <div class="auto-container">
      <div class="row d-flex align-items-center"><!-- flex + vertical centering -->
        
        <!-- Image Column (Now on the left) -->
        <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1500ms">
          <div class="about-ten__image">
            <img
              src="{% static 'images/rental-service/server-rent.jpg' %}"
              alt=""
            />
          </div>
        </div>
  
        <!-- Content Column (Now on the right) -->
        <div class="col-lg-7">
          <div class="about-ten2__content">
            <div class="sec-title-eight text-start">
              <h2 class="sec-title-eight__title">
                Benefits of Renting Servers | Why Get Servers on Rent with Zaco
              </h2>
            </div>
            <div class="about-ten__box">
              <p class="about-ten__box__text">
                Free up capital for other business priorities. Respond quickly to changing business needs by scaling your server resources effortlessly.
              </p>
            </div>
            <div class="about-ten__box">
              <p class="about-ten__box__text">
                Eliminate the burden of managing in-house server infrastructure. Enjoy peace of mind knowing our dedicated 24/7 support team is available around the clock to address any concerns.
              </p>
            </div>
            <div class="about-ten__box">
              <p class="about-ten__box__text">
                Contact Zaco Computers today to discuss your specific server rental needs. We will work closely with you to understand your unique requirements and recommend the most suitable server solution to empower your global business operations.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  











<section class="feature-eight">
    <div class="auto-container">
        
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="feature-eight__image">
                    {% comment %} <img src="images/update-26-02-2021/resources/READY-TO-EXPERIENCE-THE-BENEFITS-OF-RELIABLE-SERVER-MAINTENANCE.png" alt=""> {% endcomment %}
                    <img src="{% static 'images/rent-service/WHY-CHOOSE-ZACO-FOR-SERVER-RENTAl.png' %}" alt="">
                </div><!-- /.feature-eight__image -->
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 col-lg-7">
                <div class="feature-eight__content">
                    <div class="sec-title">
                        <h2>Why Choose Zaco for Server Rental?</h2>
                    </div>
                    <p class="feature-eight__text">
                        Choose from an extensive range of servers on rent, including physical dedicated servers, from all leading OEM brands like Dell, HP, IBM, Cisco and much more. Scale your server resources up or down seamlessly, based on your evolving business demands. Also enjoy the benefits of using powerful servers without the upfront investment costs associated with purchasing hardware. Our server rental services are available across various regions, ensuring consistent support and IT infrastructure wherever you operate. We offer flexible server rental terms on DELL, HP, IBM and Cisco that cater to short-term and long-term projects. Our server rental services are available in various configurations and can be customized to meet your specific needs. You can also benefit from our team of experienced professionals who can assist you in selecting the right server rental solution and provide ongoing technical support.
                    </p><!-- /.feature-eight__text -->
                    {% comment %} <div class="progress-box">
                        <div class="bar-title">Digital marketing</div>
                        <div class="bar">
                            <div class="bar-inner count-bar counted" data-percent="70%" style="width: 70%;">
                                <div class="count-box counted">
                                    <span class="count-text" data-stop="70" data-speed="1500">70</span>%
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div><!-- /.feature-eight__content -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.auto-container -->
</section><!-- /.feature-eight -->







  {% endblock %}
