{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Banner Section -->

      <section class="slider-six">
        <div class="slider-six__curv">
          <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
        </div>
        <!-- /.slider-six__curv -->
        <div
          class="swiper-container thm-swiper__slider"
          data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="image-layer"
                style="
                  background-image: url({% static "images/rental-service/IT-SERVICES-LANDINGPAGE1.jpg" %});
                "
              ></div>
              <!-- /.image-layer -->
              <div class="auto-container">
                <div class="slider-six__content">
                  <p class="slider-six__text"><span>Services</span></p>
                  <!-- /.slider-six__text -->
                  <h2 class="slider-six__title">
                    Expert IT Support to Keep Your Business Running Smoothly,
                    Anytime, Anywhere.
                  </h2>
                  <!-- /.slider-six__title -->
                  <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
                  <!-- /.thm-btn__six -->
                </div>
                <!-- /.slider-six__content -->
              </div>
            </div>
       
          </div>
          <!-- If we need navigation buttons -->
          <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
        </div>
      </section>
      <!-- /.slider-six -->




      <section class="about-six">
        <div class="about-six__curv">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
					<path fill="currentColor"
						d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
				</svg>
        </div>
        <!-- /.about-six__curv -->

        <div class="auto-container">
          <div class="row">
            <div class="col-md-12 col-lg-5">
              <div class="about-six__content">
                <div class="sec-title-six">
                  <!-- <p class="sec-title-six__text"><span>Our Company Benefits</span></p> -->
                  <!-- /.sec-title-six__text -->
                  <h2 class="sec-title-six__title">
                    Expertise in reliable and efficient hardware and software support.
                  </h2>
                  <!-- /.sec-title-six__title -->
                </div>
                <!-- /.sec-title-six -->
                <div class="about-six__text">
                  Zaco understands how critical IT Support is for your business operations. Our highly-trained IT team delivers prompt responses and best-in-class service to ensure optimal performance of your environments. With over 20 years of experience supporting all major technology brands, we have the expertise to resolve even the most complex issues quickly. You can rely on our technical IT support specialists to keep your systems running smoothly around the clock. We stay abreast of the latest innovations to continuously enhance our capabilities and give you peace of mind knowing that your IT infrastructure is in capable hands.
                </div>
                <!-- /.about-six__text -->
              </div>
              <!-- /.about-six__content -->
            </div>
            <!-- /.col-md-12 col-lg-5 -->
            <div
              class="col-md-12 col-lg-7 wow fadeInRight"
              data-wow-duration="1500ms"
            >
              <div class="about-six__image">
                <img
                  src="{% static 'images/services/service-img1.jpg' %}"
                  alt=""
                />
              </div>
              <!-- /.about-six__image -->
            </div>
            <!-- /.col-md-12 col-lg-7 -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-md-12 col-lg-4">
              <div class="about-six__box">
                <i class="flaticon-idea about-six__box__icon"></i>
                <h3 class="about-six__box__title">
                  We combine tech with business
                </h3>
              </div>
              <!-- /.about-six__box -->
            </div>
            <!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
              <div class="about-six__box">
                <i class="flaticon-mouse about-six__box__icon"></i>
                <h3 class="about-six__box__title">
                  The right people for your businesses
                </h3>
              </div>
              <!-- /.about-six__box -->
            </div>
            <!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
              <div class="about-six__box">
                <i class="flaticon-briefcase about-six__box__icon"></i>
                <h3 class="about-six__box__title">
                  Best way of running a business
                </h3>
              </div>
              <!-- /.about-six__box -->
            </div>
            <!-- /.col-md-12 col-lg-4 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.auto-container -->
      </section>
      <!-- /.about-six -->






        <!--Services Section-->
        <section class="services-section-three">
          <div class="auto-container">
              <div class="sec-title centered">
                  <h2>What we’re offering<span class="dot">.</span></h2>
              </div>
              <div class="services">
                  <div class="row clearfix">
                      <!--Service Block-->
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-vector"></span></div>
                              <h5><a href="#">IT <br>Hardware</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>

                      <!--Service Block-->
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-digital"></span></div>
                              <h5><a href="#">Server <br>Maintenance</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>

                      <!--Service Block-->
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-instant-camera"></span></div>
                              <h5><a href="#">Storage <br>Maintenance</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>

                      <!--Service Block-->
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-monitor"></span></div>
                              <h5><a href="#">Network <br>Maintenance</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-monitor"></span></div>
                              <h5><a href="#">Rental <br>Services</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>
                      <div class="service-block-two col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                              <div class="bottom-curve"></div>
                              <div class="icon-box"><span class="flaticon-monitor"></span></div>
                              <h5><a href="#">Infrastructure <br>Managed Services</a></h5>
                              <div class="text">Lorem ipsum is are many variations of pass of majority.</div>
                              <div class="link-box"><a href="#"><span class="fa fa-angle-right"></span></a></div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </section>












      <!--Featured Section-->
      <section class="featured-section">
        <div class="auto-container">
          <div class="row clearfix">
            <!--Left Column-->
            <div class="left-col col-lg-6 col-md-12 col-sm-12">
              <div
                class="inner wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image-box">
                  <img src="{% static 'images/services/service-img2.jpg' %}" alt="" />
                </div>
              </div>
            </div>
            <!--Right Column-->
            <div class="right-col col-lg-6 col-md-12 col-sm-12">
              <div class="inner">
                <div class="sec-title">
                  <h2>
                    We Shape IT Support and Services to Perfection<span
                      class="dot"
                      >.</span
                    >
                  </h2>
                  <div class="lower-text">
                    Through exceptional service and continuous learning, we
                    craft IT hardware solutions perfectly suited to our
                    customers' unique needs. Our highly-trained IT solutions
                    team is committed to delivering an unmatched customer
                    experience while also pursuing new skills and knowledge that
                    allow us to develop even more innovative solutions over
                    time. When you partner with Zaco, you gain more than just
                    reliable IT support services - you gain experts dedicated to
                    optimizing your systems and processes to their fullest
                    potential.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Featured Section-->
      <section class="featured-section">
        <div class="auto-container">
          <div class="row clearfix">
            <!--Right Column-->
            <div
              class="right-col col-lg-6 col-md-12 col-sm-12"
              style="margin-block: auto"
            >
              <div class="inner">
                <div class="sec-title">
                  <h2>
                    Expert IT Support Services for Your Business<span
                      class="dot"
                      >.</span
                    >
                  </h2>
                  <div class="lower-text">
                    Whether you need assistance with servers, networks, or
                    software, our team of IT hardware experts provide quick
                    remote and on-site IT support services for businesses
                    globally. Leveraging cutting-edge tools and 24/7 monitoring,
                    we deliver tailored IT support for your business to optimize
                    performance, maximize uptime and simplify management of
                    complex IT infrastructure.
                  </div>
                </div>
              </div>
            </div>
            <!--Left Column-->
            <div class="left-col col-lg-6 col-md-12 col-sm-12">
              <div
                class="inner wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image-box">
                  <img src="{% static 'images/services/service-img3.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Featured Section-->
      <section class="featured-section">
        <div class="auto-container">
          <div class="row clearfix">
            <!--Left Column-->
            <div class="left-col col-lg-6 col-md-12 col-sm-12">
              <div
                class="inner wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image-box">
                  <img src="{% static 'images/services/service-img4.jpg' %}" alt="" />
                </div>
              </div>
            </div>
            <!--Right Column-->
            <div
              class="right-col col-lg-6 col-md-12 col-sm-12"
              style="margin-block: auto"
            >
              <div class="inner">
                <div class="sec-title">
                  <h2>
                    Remote IT Support for Businesses Globally<span class="dot"
                      >.</span
                    >
                  </h2>
                  <div class="lower-text">
                    No matter where your teams are located, we ensure seamless
                    systems access and remote IT support through secure remote
                    connectivity options. Our virtual support programs provide
                    customized IT support and troubleshooting to keep your
                    mission-critical applications running smoothly across
                    borders.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Featured Section-->
      <section class="featured-section">
        <div class="auto-container">
          <div class="row clearfix">
            <!--Right Column-->
            <div
              class="right-col col-lg-6 col-md-12 col-sm-12"
              style="margin-block: auto"
            >
              <div class="inner">
                <div class="sec-title">
                  <h2>
                    Efficient Global IT Support for Businesses<span class="dot"
                      >.</span
                    >
                  </h2>
                  <div class="lower-text">
                    Through flexible Service Level Agreements, we offer
                    comprehensive multi-vendor support packages that protect
                    technology investments around the world. Partner with Zaco
                    for optimized and cost-effective management of hardware,
                    software, and IT support needs for all your international
                    locations.
                  </div>
                </div>
              </div>
            </div>
            <!--Left Column-->
            <div class="left-col col-lg-6 col-md-12 col-sm-12">
              <div
                class="inner wow fadeInLeft"
                data-wow-delay="0ms"
                data-wow-duration="1500ms"
              >
                <div class="image-box">
                  <img src="{% static 'images/services/service-img5.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="video-six">
        <div
          class="video-six__parallax jarallax"
          data-jarallax
          data-speed="0.3"
          data-imgPosition="50% 80%"
        >
          <img
            src="images/update-01-10-2021/background/video-six-bg-1.jpg"
            class="jarallax-img"
            alt=""
          />
        </div>
        <div class="auto-container">
          <div class="video-six__inner">
            <h3 class="video-six__title">
              For any queries or support, feel free to get in touch with us.
            </h3>
            <!-- /.video-six__title -->
            <div class="video-six__video">
              <!-- <h3 class="video-six__video__text">Watch video</h3>
           
              <a
                href="https://www.youtube.com/watch?v=8DP4NgupAhI"
                class="lightbox-image video-six__btn"
              >
                <i class="fa fa-play"></i>
                <i class="ripple"></i> </a
              > -->
              <div class="link-box">
                <a
                  class="theme-btn btn-style-one"
                  href="about.html"
                  style="background-color: #ffaa17"
                >
                  <i class="btn-curve"></i>
                  <span class="btn-title">Contact Us</span>
                </a>
              </div>
            </div>
            <!-- /.video-six__video -->
          </div>
          <!-- /.video-six__inner -->
        </div>
        <!-- /.auto-container -->
      </section>
      <!-- /.video-six -->

{% endblock %}
