{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Banner Section -->

      <section class="slider-six">
        <div class="slider-six__curv">
            <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 122">
                <path fill="currentColor"
                    d="M0,122.005S80.814,20.129,283.871,2.426C526.255-18.706,550.388,91.2,792.025,102.115c243.565,11.006,299.815-108,520.765-97.662,220.1,10.3,273.86,88.036,415.09,98.26C1878.57,113.62,1920,51.068,1920,51.068V-862.995H0v985Z" />
            </svg> -->
        </div><!-- /.slider-six__curv -->
        <div class="swiper-container thm-swiper__slider"
            data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-layer"
                        style="background-image: url({% static 'images/about-us/about-us-1.jpg' %});">
                    </div>
                    <!-- /.image-layer -->
                    <div class="auto-container">
                        <div class="slider-six__content">
                            {% comment %} <p class="slider-six__text"><span>About</span></p> {% endcomment %}
                            <!-- /.slider-six__text -->
                            <h2 class="slider-six__title">Your Global Partner for Cutting-Edge IT Infrastructure Solutions</h2>
                            <!-- /.slider-six__title -->
                            <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
                            <!-- /.thm-btn__six -->
                        </div><!-- /.slider-six__content -->
                    </div>
                </div>
   
            </div>
            <!-- If we need navigation buttons -->
            <!-- <div class="slider-bottom-box clearfix">
                <div class="main-slider__nav">
                    <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div> -->
        </div>
    </section><!-- /.slider-six -->






              <!--Featured Section-->
              <section class="featured-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Left Column-->
                        <div class="left-col col-lg-6 col-md-12 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="image-box"><img src="{% static 'images/about-us/MEET-ZACO.png' %}" alt=""></div>
                            </div>
                        </div>
                        <!--Right Column-->
                        <div class="right-col col-lg-6 col-md-12 col-sm-12">
                            <div class="inner">
                                <div class="sec-title">
                                    <h2>Meet Zaco: Your Gateway to Tech Brilliance</h2>
                                    <div class="lower-text">Zaco Computers is a leading global provider of IT infrastructure solutions. For over a decade, we have helped thousands of organizations across industries optimize their IT environments.</div>
                                    <div class="lower-text">We provide a wide range of new, pre-owned, and refurbished servers, storage, networking equipment, and spare parts from leading OEMs including HP, IBM, Oracle, Cisco, NetApp, EMC, and more. 
                                      All inventory is fully tested and backed by a comprehensive warranty for peace of mind.</div>
                                </div>
                    
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>

     <!--Agency Section-->
     <section class="agency-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-col col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>What Makes Zaco’s IT Solutions Unique?</h2>
                        </div>

                        <!--Default Tabs-->
                        <div class="default-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#tab-1" class="tab-btn active-btn"><span>Our Mission</span></li>
                                <li data-tab="#tab-2" class="tab-btn"><span>Our Vision</span></li>
                                <li data-tab="#tab-3" class="tab-btn"><span>Our Legacy</span></li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab-->
                                <div class="tab active-tab" id="tab-1">
                                    <div class="content">
                                        <div class="text">Zaco’s Mission is to simplify IT for our customers. We take care of all complexities so that our clients can focus on their core business. Through our team of experts and partnerships with top brands, we offer one-stop solutions tailored to specific needs.</div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-2">
                                    <div class="content">
                                        <div class="text">Our Vision is to be the most trusted advisor for all technology needs of our clients. We aim to deliver best-in-class hardware and software solutions that create value for businesses.</div>
                                    </div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-3">
                                    <div class="content">
                                        <div class="text">As a multi-national company with offices in India, the United Kingdom, and the U.A.E, we leverage our global experience and resources to serve clients everywhere</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Right Column-->
                <div class="right-col col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner">
                        {% comment %} <div class="text">How is Zaco Unique in Providing Global IT Solutions</div> {% endcomment %}
                        <div class="featured-block-two clearfix">
                            <div class="image"><img src="{% static 'images/about-us/best.jpg' %}" alt=""></div>
                            <div class="text">
                                <ul>
                                    <li>Expertise You Can Trust</li>
                                    <li>Quality That Lasts</li>
                                    <li>Resources On-Demand</li>
                                    <li>Flexibility without Limits</li>
                                    <li>Value Beyond Costs</li>
                                    <li>Worldwide Support
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="project-eight" id="portfolio">
      <div class="auto-container">
        <div class="sec-title-eight text-center">
          <!-- <p class="sec-title-eight__text">Recent Cases</p> -->
          <!-- /.sec-title-eight__text -->
          <h2 class="sec-title-eight__title">Our Services</h2>
          <!-- /.sec-title-eight__title -->
        </div>
        <!-- /.sec-title-eight -->
        <div
          class="thm-swiper__slider swiper-container"
          data-swiper-options='{"spaceBetween": 30, "slidesPerView": 2, "autoplay": { "delay": 5000 }, "breakpoints": {
          "0": {
            "slidesPerView": 1
          },
          "375": {
            "slidesPerView": 1
          },
          "480": {
            "slidesPerView": 2
          },
          "767": {
            "slidesPerView": 3
          },
          "1199": {
            "slidesPerView": 4
          }
        }}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="{% url "server-maintenance" %}"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Server Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Storage-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="{% url "storage-maintenance" %}"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">
                      Storage Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Maintenance.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="{% url "network-maintenance" %}"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Network Maintenance</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/Server-Rental.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="{% url "rental-services" %}"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Rental Services</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <div class="swiper-slide">
              <div class="project-eight__item">
                <img
                  src="{% static "images/about-us/infrastructure-managed.png" %}"
                  alt=""
                />
                <div class="project-eight__content">
                  <a class="project-eight__link" href="{% url "infrastructure-managed-service" %}"
                    ><i class="flaticon-right-arrow"></i
                  ></a>
                  <h3 class="project-eight__title">
                    <a href="portfolio-single.html">Infrastructure Managed Service</a>
                  </h3>
                  <!-- /.project-eight__title -->
                </div>
                <!-- /.project-eight__content -->
              </div>
              <!-- /.project-eight__item -->
            </div>
            <!-- /.swiper-slide -->

     
          </div>
        </div>
      </div>
      <!-- /.auto-container -->
    </section>
    <!-- /.project-seven -->





       <!--Why Us Section-->
       <section class="why-us-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="left-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="round-box">
                            <div class="image-box">
                                <img src="{% static 'images/about-us/why-choose-us.jpg' %}" alt="">
                            </div>
                            <!-- <div class="vid-link">
                                <a href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image">
                                    <div class="icon"><span class="flaticon-play-button-1"></span><i
                                            class="ripple"></i></div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--Right Column-->
                <div class="right-col col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title">
                            <h2>Why Choose Us</h2>
                        </div>
                        <div class="features">
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Multi-vendor support</h6>
                                    <div class="text">We provide flexible, comprehensive support for all major OEMs, managing multi-vendor IT infrastructure efficiently.</div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Distributor of Data Center Equipment</h6>
                                    <div class="text">Zaco offers new and legacy data center equipment, sourcing globally to meet unique IT infrastructure needs.</div>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="inner-box">
                                    <h6>Overall IT Solution Provider</h6>
                                    <div class="text">Zaco delivers end-to-end IT solutions, ensuring quality, value, and flexibility throughout your digital transformation journey.</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
















    <section class="funfact-six">
        <div class="auto-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        {% comment %} <i class="funfact-six__icon flaticon-architect"></i><!-- /.funfact-six__icon --> {% endcomment %}
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="15"
                                data-speed="1500">0</span><!-- /.count-text -->
                        +</h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Countries Served</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        {% comment %} <i class="funfact-six__icon flaticon-architect-1"></i><!-- /.funfact-six__icon --> {% endcomment %}
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="5000"
                                data-speed="1500">0</span><!-- /.count-text -->
                        +</h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Clients</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        {% comment %} <i class="funfact-six__icon flaticon-buildings"></i><!-- /.funfact-six__icon --> {% endcomment %}
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="1000000"
                                data-speed="1500">0</span><!-- /.count-text -->
                        +</h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Spares</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="funfact-six__item">
                        {% comment %} <i class="funfact-six__icon flaticon-satisfaction"></i><!-- /.funfact-six__icon --> {% endcomment %}
                        <h3 class="funfact-six__count count-box"><span class="count-text" data-stop="40"
                                data-speed="1500">0</span><!-- /.count-text -->
                        +</h3><!-- /.funfact-six__count -->
                        <p class="funfact-six__text">Industries Served</p><!-- /.funfact-six__text -->
                    </div><!-- /.funfact-six__item -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.auto-container -->
    </section><!-- /.funfact-six -->








    

     
{% endblock %}
