<h2>Your Shopping Cart</h2>
{% if cart %}
    <ul>
{% for item in cart %}
  <p>{{ item.product.name }} - ₹{{ item.product.price }}</p>
  <form action="{% url 'cart_add' item.product.id %}" method="post">
    {% csrf_token %}
    <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
    <input type="hidden" name="override" value="True">
    <button type="submit">Update</button>
  </form>
{% endfor %}
    </ul>
    <p>Total: ₹{{ cart.get_total_price }}</p>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
