{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner Section -->

<section class="slider-six">
  <div class="slider-six__curv">

  </div>

  <div
    class="swiper-container thm-swiper__slider"
    data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": { "el": "#main-slider-pagination", "type": "bullets", "clickable": true }, "navigation": { "nextEl": "#main-slider__swiper-button-next", "prevEl": "#main-slider__swiper-button-prev" }, "autoplay": { "delay": 5000 }}'
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="image-layer"
          style="background-image: url({% static "images/contact/contact1.jpg" %});background-position:top"


        ></div>
        <!-- /.image-layer -->
        <div class="auto-container">
          <div class="slider-six__content">
            {% comment %}
            <p class="slider-six__text"><span>About</span></p>
            {% endcomment %}
            <!-- /.slider-six__text -->
            <h2 class="slider-six__title">Contact</h2>
            <!-- /.slider-six__title -->
            <!-- <a href="#" class="slider-six__btn thm-btn__six">Discover More</a> -->
            <!-- /.thm-btn__six -->
          </div>
          <!-- /.slider-six__content -->
        </div>
      </div>
    </div>
  
  </div>














  
  
  
</section>
{% comment %} <div class="sec-title-eight text-center " style="padding-top:30px" >
  <h2 class="sec-title-eight__title">Write Us a Message</h2>
</div> {% endcomment %}


<section class="feature-twelev">
  <div class="sec-title-eight text-center " style="padding-bottom:50px" >
    <h2 class="sec-title-eight__title">Offices Near you</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="00ms">
        <div class="feature-twelev__item">
          <div class="card-contact-contact-1" >
            <div class="country-header-contact">INDIA</div>
        </div>
          <div class="feature-twelev__item__wrapper">
    
            <h3 class="feature-twelev__item__title">
              Zaco Computers Pvt Ltd(H.O)<br />
            </h3>
            <p class="feature-twelev__item__text">
              Office Location: 3, DLH Park, S. V. Road, Goregaon (West), Mumbai – 400062. Maharashtra, India.
            </p>
            <p class="feature-twelev__item__text">
              Office Timings: Monday to Saturday 10:00 am to 7:00 pm 
            </p>
            <div class="feature-twelev__item__br"></div>
            <div>
              <a
                href="mailto:info@zacocomputer.com"
                class="feature-twelev__item__text"
                >info@zacocomputer.com</a
              >
            </div>
            <div>
              <a href="tel:9811183994" class="feature-twelev__item__text"
                >+91 9811183994</a>
            </div>
          
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
        <div class="feature-twelev__item">
          <div class="card-contact-contact-1" >
            <div class="country-header-contact">UK</div>
        </div>
          <div class="feature-twelev__item__wrapper">
            {% comment %} <div class="feature-twelev__item__icon">
              <i class="linoor-icon-three-touch"></i>
            </div> {% endcomment %}
            <h3 class="feature-twelev__item__title">
              Zaco Computers UK Limited<br />
            </h3>
            <p class="feature-twelev__item__text">
              Office Location: 124 City Road, London, England, EC1V 2NX.
            </p>
            <p class="feature-twelev__item__text">
              Office Timings: Monday to Saturday 09:00 am to 05:00 pm 
            </p>
            <div class="feature-twelev__item__br"></div>
          
            <div>
              <a
                href="mailto:info@zacocomputer.com"
                class="feature-twelev__item__text"
                >info@zacocomputer.com</a
              >
            </div>
            <div>
              <a href="tel:+447785246591" class="feature-twelev__item__text"
                >+44 7785246591</a
              >
            </div>
            <div>
              <a href="tel:+442038158028" class="feature-twelev__item__text"
                >+44 203 815 8028</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
        <div class="feature-twelev__item">
          <div class="card-contact-contact-1" >
            <div class="country-header-contact">UAE</div>
        </div>
          <div class="feature-twelev__item__wrapper">
            {% comment %} <div class="feature-twelev__item__icon">
              <i class="linoor-icon-three-touch"></i>
            </div> {% endcomment %}
            <h3 class="feature-twelev__item__title">
              Zaco IT Solutions FZE<br />
            </h3>
            <p class="feature-twelev__item__text">
              Office Location: B.C 1303474, First Floor, AFZ-B1, Ajman, UAE.
            </p>
            <p class="feature-twelev__item__text">
              Office Timings: Monday to Saturday 10:00 am to 7:00 pm 
            </p>
            <div class="feature-twelev__item__br"></div>
          
            <div>
              <a
                href="mailto:info@zacocomputer.com"
                class="feature-twelev__item__text"
                >info@zacocomputer.com</a
              >
            </div>
            <div>
              <a href="tel:+971 56 625 4023" class="feature-twelev__item__text"
                >+971 56 625 4023</a
              >
            </div>
       
          </div>
        </div>
      </div>
      {% comment %} <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
        <div class="feature-twelev__item">
          <div class="card-contact-contact-1" >
            <div class="country-header-contact">CANADA</div>
        </div>
          <div class="feature-twelev__item__wrapper">
            <div class="feature-twelev__item__icon">
              <i class="linoor-icon-three-touch"></i>
            </div> 
            <h3 class="feature-twelev__item__title">
              Zaco IT Solutions FZE<br />
            </h3>
            <p class="feature-twelev__item__text">
              Office Location: 135 Lower Sherbourne Street, M5A 1Y4, Toronto, ON.
            </p>
            <p class="feature-twelev__item__text">
              Office Timings: Monday to Saturday 10:00 am to 7:00 pm IST
            </p>
            <div class="feature-twelev__item__br"></div>
          
            <div>
              <a
                href="mailto:info@zacocomputer.com"
                class="feature-twelev__item__text"
                >info@zacocomputer.com</a
              >
            </div>
            <div>
              <a href="tel:+447785246591" class="feature-twelev__item__text"
                >+44-7785246591</a
              >
            </div>
            <div>
              <a href="tel:+442038158028" class="feature-twelev__item__text"
                >+44 203 815 8028</a
              >
            </div>
          </div>
        </div>
      </div> {% endcomment %}
 
    </div>
  </div>
</section>
        <!--Contact Section-->
        <section class="contact-section">
            <div class="auto-container">
                {% comment %} <div class="sec-title centered">
                    <h2>Offices near you<span class="dot">.</span></h2>
                </div> {% endcomment %}

       

                <div class="map-box">
                    <iframe class="map-iframe"
                        src="https://maps.google.com/maps?q=Zaco+Computers+Pvt.+Ltd.+3%2C+Dlh+Park%2C+Swami+Vivekananda+Rd%2C+Malad%2C+Sunder+Nagar%2C+Goregaon+West%2C+Mumbai%2C+Maharashtra+400062&output=embed"
                        style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                        
                </div>
                <div class="form-box">
                    {% comment %} <div class="sec-title">
                        <h2>Write Us a Message<span class="dot">.</span></h2>
                    </div> {% endcomment %}
                    <div class="sec-title-eight text-center " style="padding-top:30px" >
                        <h2 class="sec-title-eight__title">Write Us a Message</h2>
                      </div>
                    <div class="default-form">
                        <form   >
                            <div class="row clearfix">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <div class="field-inner">
                                        <input type="text" name="username" value="" placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <div class="field-inner">
                                        <input type="email" name="email" value="" placeholder="Email Address"
                                            required="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <div class="field-inner">
                                        <input type="text" name="phone" value="" placeholder="Phone Number" required="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <div class="field-inner">
                                        <input type="text" name="subject" value="" placeholder="Subject" required="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <div class="field-inner">
                                        <textarea name="message" placeholder="Write Message" required=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button class="theme-btn btn-style-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Send message</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
